h1 {
    text-align: center;
}

.head-font {
    font-family: "Brush Script MT", cursive;
    font-size: 34px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;
}