.todolist .new-todo {
    border: none !important;
    width: 100%;
    height:70px;
}

.todolist .new-todo[placeholder] {
    line-height: 70px;
    font-size: 22px;
    outline: none;
}


::-webkit-input-placeholder {
   text-align: center;
}

.todolist .date {
    text-align: right!important;
}


.todolist .status {
    text-align: right!important;
}

.todolist .todo {
    color: #5cb85c;
}
