<div id="page-content-wrapper" class="todolist m-x-auto">
    <div class="container-fluid">
        <div class="row">
            <div class="offset-md-3 col-md-6">
                <input class="new-todo" placeholder="What needs to be done?" autofocus="" [(ngModel)]="taskName"
                       (keyup.enter)="addTask()">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <tbody>
                        <tr *ngFor="let todoTask of tasks" class="task">
                            <td>
                                <div class="taskDescription" (click)="onSelect(todoTask)">
                                    <h4 class="title"> {{todoTask.name}} </h4>
                                </div>
                                <div *ngIf="selectedTasks.indexOf(todoTask) !== -1">
                                    <task-detail [todoTask]="todoTask"></task-detail>
                                </div>
                            </td>
                            <td>
                                <div class="todo">
                                    To be done
                                </div>
                            </td>
                            <td>
                                <span class="date"> Today </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
