<div id="page-content-wrapper" class="todolist m-x-auto">
    <div class="container-fluid">
        <div class="row">
            <div class="offset-md-3 col-md-6">
                <input class="new-todo" placeholder="What needs to be done?" autofocus="" [(ngModel)]="task"
                       (keyup.enter)="addTask(task)">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="tasks">
                    <li *ngFor="let todoTask of tasks" (click)="onSelect(todoTask)" class="task">
                        <span>{{todoTask.name}}</span>
                        <div *ngIf="todoTask === selectedTask">
                            <task-detail [todoTask]="selectedTask"></task-detail>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
